/*глобальні параметри*/
body {
  font-family: Roboto, sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-main-color);
  letter-spacing: 0.03em;
}
/*загальний контейнер*/
.container {
  width: 1200px;
  padding: 94px 15px;
  margin: 0 auto;
}
/*футер-контейнер*/
.footer-container {
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/*кольори*/
:root {
  --text-main-color:#757575;
}
:root {
  --accent-color: #2196f3;
}

:root {
  --text-title-color: #212121;
}

:root {
  --secondary-color: #FFFFFF;
}

:root {
  --background-color: #F5F4FA;
}

:root {
  --svg-main-color: #AFB1B8;
}

/*часова функція для анімацій*/

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
/*флекси для списків*/

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

/*футер-флекс*/
.footer-list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

/* заголовок для занять і команди */

.title {
  color: var(--text-title-color);
  margin-top: 0;
  margin-bottom: 0;
}

/* заливка для футеру і hero контенту */
.grey-section {
  color: white;
  background-color: #2f303a;
}

/*ХЕДЕР*/
.header-line {
  /*position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;*/
  border: 1px solid #ECECEC;
  background-color: var(--secondary-color);
  /*z-index: 3;*/
}

.header-container {
  display: flex;
  align-items: center;

  background-color: var(--secondary-color);
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*логотип*/
.logo {
  display: inline-block;
  margin-right: 93px;
  text-decoration: none;

}

.logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.logo-studio-black {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: black;
}

/* кнопки головної навігації */
.header-nav {
  position: relative;
}
.header-nav:not(:last-child) {
  margin-right: 50px;
}


.nav-button {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-title-color);
  text-decoration: none;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.nav-button:hover,
.nav-button:focus {
  color: var(--accent-color);
  z-index: 2;
}

.current-page {
  color: var(--accent-color);
}

.nav-bot-line::after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* контакти  */
.contacts-header {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: #757575;
  letter-spacing: 0.02em;
}

.mail {
align-items:stretch;
}
.phone {
  align-items: center;
}

.contacts-header {
  transition: color 250ms var(--timing-function);
}
.contacts-header:hover,
.contacts-header:focus {
  color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
}
.header-icon-envelope {
  height: 12px;
  width: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header-icon-phone {
  height: 16px;
  width: 10px;
  margin-right: 10px;
  fill: currentColor;
}




/* УНІКАЛЬНЕ НАПОВНЕННЯ  */
/* 1 ПЕРША СТОРІНКА, СТУДІЯ */

/*Основний напис*/

.hero {
  display: flex;
  height: 600px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero-background {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;

  background-color: #c4c4c4;
  background-image:
    linear-gradient(
          rgba(47,48,58,0.4),rgba(47, 48, 58, 0.4)),
    url("../images/background-image.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-inscription {
  display: block;
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

/* головна кнопка */
.main-button {
  display: inline-block;
  text-align: center;
  padding: 10px 32px;
  border-style: none;
  color: var(--secondary-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color 250ms var(--timing-function);
}

.main-button:hover,
.main-button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}



/*особливості*/
.container-feature {
  padding-bottom: 0;
}
.feature-item {
  width: 270px;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-item::before{
  display: block;
  content: '';
  height: 120px;
}


.icon-antena::before {
margin-bottom: 30px;
background: var(--background-color);
border-radius: 4px;
background-image: url(../images/icon-antena.svg);
background-repeat: no-repeat;
background-position: center;
}
.icon-clock::before {
margin-bottom: 30px;
background: var(--background-color);
border-radius: 4px;
background-image: url(../images/icon-clock.svg);
background-repeat: no-repeat;
background-position: center;
}
.icon-computer::before {
margin-bottom: 30px;
background: var(--background-color);
border-radius: 4px;
background-image: url(../images/icon-computer.svg);
background-repeat: no-repeat;
background-position: center;
}
.icon-astronaut::before {
margin-bottom: 30px;
background: var(--background-color);
border-radius: 4px;
background-image: url(../images/icon-astronaut.svg);
background-repeat: no-repeat;
background-position: center;
}



.feature {
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.feature-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/*підписи для "чим ми займаємося" і "нашої команди"*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/*чим ми займаємося*/
.our-work-item {
  display: flex;
  position: relative;
}
.our-work-item:not(:last-child) {
  margin-right: 30px;
}

.our-work-item-overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
.our-work-item-text {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*команда*/

/*фон для команди*/

.our-team {
  background-color: var(--background-color);
}

.team-card {
  width: 270px;
  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}
.team-card img {
  display: block;
}
.teammate-description {
  padding: 30px 0;
}
.teammate-name {
  padding:0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.teammate-profession {
  padding: 0;
  margin: 0 0 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social-list {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border:none ;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--svg-main-color);
  background-color: var(--secondary-color);
  cursor: pointer;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function) ;
}

.icon-button:hover,
.icon-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.icon-social {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/*ПОСТІЙНІ КЛІЄНТИ*/
.regular-customer-item:not(:last-child) {
  margin-right: 30px;

}
.regular-customer-link {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--svg-main-color);
  border: 1px solid var(--svg-main-color);
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.regular-customer-link:hover,
.regular-customer-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.icon-customer {
  fill: currentColor;
  display: inline-block;
  height: 60px;
  width: 106px;
 
}

/* 2 ДРУГА СТОРІНКА, ПОРТФОЛІО */

/*контейнер для кнопок портфоліо*/
.anchor-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio {
  flex-wrap: wrap;
}

/* якорі */

.filter-buttons:not(:last-child) {
  margin-right: 8px;
}

.anchor {
  border-style: none;
  background: var(--background-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--text-title-color);
  padding: 6px 22px;

  transition: background-color 250ms var(--timing-function), 
  color 250ms var(--timing-function), 
  box-shadow 250ms var(--timing-function);
}

.anchor:hover,
.anchor:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*список  портфоліо*/

.porfolio-case {
  width: calc((100% - 2*30px)/3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--secondary-color);
}

.porfolio-case:nth-child(3n) {
  margin-right: 0;
}

.porfolio-case:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.link-portfolio {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  cursor: pointer;


  transition: box-shadow 250ms var(--timing-function);
}

.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.portfolio-overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  margin:0;
  padding:63px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-size: 18px;
  line-height: 1.56;
  color:var(--secondary-color);
}
.link-portfolio:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-description {
  margin: 0;
  padding: 20px 24px;
  width: 370px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
 
}

.portfolio-title {
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-subtitle {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.9;
}



/*ФУТЕР*/

.footer-contacts {
  padding: 60px 0;
  margin: 0;
}

/* лого */
.logo-studio-white {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--secondary-color);
}

/* контакти */
.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-color);
  text-decoration: none;
}

.contact-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-address {
  margin-bottom: 9px;
}

.footer-address:last-child {
  margin-bottom: 0;
}

.footer-social {
  padding: 72px 93px 100px 70px;
}

.title-footer {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.icon-social-footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-color);
}

.footer-form {
  padding-top: 72px;
  padding-bottom: 94px;
}

.footer-form-mail li:not(:last-child) {
  margin-right: 12px;
}

.footer-input {
  height: 50px;
  width: 358px;
  background: transparent;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 200px;
  padding: 10px 28px;
  border-style: none;
  color: var(--secondary-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  
  transition: background-color 250ms var(--timing-function)
}
.footer-button::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../images/icon-telegram.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 10px;
  margin-right: 0;
}
.footer-button:hover {
  background-color: #188CE8;
  cursor: pointer;
}


/*модалка*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);;
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal {
  position:absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);;

  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius:50%;
}
.modal-main {
  padding: 40px;
}

.modal-title {
  margin: 0 0 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--text-title-color);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-field {
  position: relative;
  display: inline-block;
  flex-direction: column;
  width: 100%;
  color: var(--text-title-color);

}
.form-field:focus-within>.modal-input {
  border-color: var(--accent-color);
}
.form-field:focus-within>.icon-modal {
  color: var(--accent-color);
}

.form-label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-main-color);
  margin: 0 0 4px 0;
}

.form-list {
  flex-direction: column;
  margin: 0 0 20px 0;
}

.form-list > li:not(:last-child) {
  margin-bottom: 10px;
}
.modal-input {
  width: 100%;
  height: 40px;
  margin: 0;
  font: inherit;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--timing-function);
}

.comment {
  width: 100%;
  height: 120px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment:focus {
  border-color: var(--accent-color);
}



.icon-modal {
  display: inline-block;
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: currentColor;
  width: 18px;
  height: 18px;

  transition: color 250ms var(--timing-function);
}

.icon-modal-close {
  fill: currentColor;
  width: 18px;
  height: 18px;
  transition: color 250ms var(--timing-function);
}
.modal-close-button:hover, 
.modal-close-button:focus {
color: var(--accent-color);
cursor: pointer;
}

/*чекбокс*/
.policy {
  display: flex;
  width: 423px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 30px auto;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-main-color);
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox-icon {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 15px;
  display: inline-block;
  background-image: url('../images/icon-checkbox-border.svg');
  outline: none;
}
.checkbox:checked + .checkbox-icon {
  background-image: url('../images/icon-checkbox.svg');
  background-size:contain;
  background-repeat: no-repeat;
  background-origin: border-box;

  transition: background-image 250ms var(--timing-function);
}

.modal-button {
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  padding: 10px 52px;
  border-style: none;
  color: var(--secondary-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color 250ms var(--timing-function);
}

.modal-button:hover {
  background-color: #188CE8;
  cursor: pointer;
}